body {
    margin: 0;
    font-family: 'Courier New', monospace;
    background-color: black;
    color: limegreen;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.terminal {

    width: 90%;
    max-width: 800px;
    height: 90%;
    max-height: 500px;
    padding: 2px;
    background-color: black;
    border-top: 30px solid limegreen;
    border-bottom: 2px solid limegreen;
    border-left: 2px solid limegreen;
    border-right: 2px solid limegreen;
    box-sizing: border-box;
    white-space: pre-wrap;
    overflow-y: auto;
    height: 60vh;
    position: relative;
}


#output, #input-line {
    display: block;
    white-space: pre-wrap;
}

#input-line {
    margin-top: -50px;
    margin-right: 0; /* Alteração: ajusta a margem direita do input-line */
    position: relative;
    display: flex;
    align-items: center;
}

.prompt {
    color: limegreen;
    margin-right: 5px;
}

#input {
    border: none;
    outline: none;
    background-color: black;
    color: limegreen;
    margin-left: 15px;
}

.cursor {
    position: absolute;
    left: calc(100% - 20px); /* Ajuste na posição do cursor */
    top: 0;
    height: 100%;
    width: 2px;
    background-color: limegreen;
    animation: blink 1s infinite;
}

@keyframes blink {
    70% {
        opacity: 0;
    }
}
